<div class="col-md-12">
<div class="job">
  <%= link_to("Add a job", new_job_path, :class => "btn btn-primary pull-right")%>
</div>
<table class="table table-boldered">
  <thead>
    <tr>
      <td>#</td>
      <td>Title</td>
      <td>Description</td>
      
    </tr>
  </thead>
  <tbody>
  <% @jobs.each do |j| %>
  <tr>
    <td>#</td>
    <td>
      <%= link_to(j.title, job_path(j))%>
    </td>
    <td>
      <%= j.description %>
    </td>

    <td>
      <%= link_to("Edit", edit_job_path(j), class: "btn btn-sm btn-default")%>
      <%= link_to("Delete" ,job_path(j), class: "btn btn-sm btn-default",
      method: :delete, data: { confirm:  "Are you sure?"})%>
    </td>
    <td>
      <%= j.created_at%>
    </td>
  </tr>
  <% end %>
  <tbody>

</table>
</div>
