<div class="col-md-12">
<div class="job">
  <%= link_to("Add a job", new_admin_job_path, :class => "btn btn-primary pull-right")%>
</div>
<table class="table table-boldered">
  <thead>
    <tr>
      <td>#</td>
      <td>职缺</td>
      <td>收到履历数量</td>
      <td>薪资下限</td>
      <td>薪资上限</td>
      <td>管理选项</td>
      <td>刊登时间</td>

    </tr>
  </thead>
  <tbody>
  <% @jobs.each do |j| %>
  <tr>
    <td><%= render_job_status(j)%></td>
    <td>
      <%= link_to(j.title, admin_job_path(j))%>
    </td>
    <td><%= j.resumes.count%></td>
    <td><%= j.wage_lower_bound%></td>
    <td><%= j.wage_upper_bound%></td>

    <td>
      <%= link_to("Edit", edit_admin_job_path(j), class: "btn btn-sm btn-default")%>
      <%= link_to("Delete" ,admin_job_path(j), class: "btn btn-sm btn-default",
      method: :delete, data: { confirm:  "Are you sure?"})%>

      <% if j.is_hidden %>
        <%= link_to("Publish", publish_admin_job_path(j) , :method => :post, :class => "btn btn-xs btn-primary")%>
      <% else %>
        <%= link_to("Hide", hide_admin_job_path(j), :method => :post, :class => "btn btn-xs btn-primary")%>
      <% end %>
    </td>
    <td>
      <%= j.created_at%>
    </td>
  </tr>
  <% end %>
  <tbody>

</table>
</div>
